{% extends 'layout.html' %}
{% block content %}

<div class="col-md-8 terms mt-5 mb-2">
  <div class="card">
    <div class="card-body">
      <div class="container-fluid">
        <h2>About FreeFiles.cc</h2>
        <p>
          <strong>Free Files</strong> is a complimentary search engine that enables you to discover, preview, and download millions of PDF files to your devices. Our platform empowers users to contribute new PDF ebooks to our website at no cost, making them accessible for everyone to download. This continual contribution keeps our library up-to-date and expanding, providing you with an extensive database to explore. FreeFiles not only functions like conventional search engines but also offers additional features for an enhanced user experience!</p>
      </div>

      <div class="container-fluid mt-5">
        <h4 class="title">Previews</h4>
        <p class="content">
          Every file on FreeFiles comes with a cover photo, making it easier for you to save time and quickly identify the content.
        </p>

        <h4 class="title">Fast</h4>
        <p class="content">
          FreeFiles's lightning-fast search engine takes only milliseconds to find the PDF files you're looking for. Save time and get instant results!
        </p>

        <h4 class="title">Up-to-date</h4>
        <p class="content">
          FreeFiles's archive is always expanding, and we ensure it stays up-to-date with regular and efficient updates.</p>

        <h4 class="title">Synchronized</h4>
        <p class="content">
          Access the same version of any PDF file from your computer or mobile devices with an internet connection. Consistency across devices made easy!</p>

        <h4 class="title">Smart Suggestions</h4>
        <p class="content">
          FreeFiles provides personalized recommendations tailored to your interests and recent searches, enhancing your browsing experience.</p>
      </div>
    </div>
  </div>
</div>
<!-------end books------------->
</div>
</div>
</section>
{%endblock content%}