{% extends 'layout.html' %}
{%block meta%}

   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <title>{{title}} Free PDF</title>

  <meta property="site_name" content="FreeFiles">
  <meta name="description" content="Download {{title}} PDF for Free - FreeFiles" />
  <meta name="keywords" content="{{title}}, free pdf, download pdf, download ebook, free ebook pdf,freefiles pdf, freefiles, freefiles ebook, {{title}} summary, {{title}} free pdf, {{title}} download," />
  <meta name="author" content="Freefiles" />
  <meta name="robots" content="index, follow">

  <!-- Open Graph -->
  <meta property="og:title" content="{{title}} Free PDF" />
  <meta property="og:description" content="Download {{title}} PDF for Free - FreeFiles" />
  <meta property="og:site_name" content="FreeFiles" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://freefiles.cc{{ url_for('book', book=book.book_title|replace(' ', '-'))+'-'+book.book_id }}" />
  <meta property="og:image" content="{{book.book_img_link}}" />

  <!-- Canonical start -->
  <link rel="canonical" href="https://freefiles.cc{{ url_for('book', book=book.book_title|replace(' ', '-'))+'-'+book.book_id }}">
  <!-- Canonical end -->

  <!-- Twitter card start-->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{title}} Free PDF">
  <meta name="twitter:description" content="Download {{title}} PDF for Free - FreeFiles">
  <meta name="twitter:image" content="https://freefiles.cc/static/images/xog.jpg">
  <meta name="twitter:image:alt" content="{{title}} Free PDF">
  <meta name="twitter:site" content="@freefilescc">
  <meta name="twitter:url" content="https://freefiles.cc{{ url_for('book', book=book.book_title|replace(' ', '-'))+'-'+book.book_id }}">
  <!-- Twitter card end-->

  <!-- Schema Markup Start -->    
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Download {{title}} Free PDF",
  "url": "https://freefiles.cc{{ url_for('book', book=book.book_title|replace(' ', '-'))+'-'+book.book_id }}",
  "logo": "{{book.book_img_link}}"
}
</script>
  <!-- Schema Markup End --> 

{%endblock meta%}
{%block content%}
          <div class="col-md-8 mt-5 book mb-2">
            <div class="mb-5 book-details">
              <div class="card">
                <div class="row">
                  <div class="col-lg-4 text-center">
                    <a href="#">
                      <img
                        loading="lazy"
                        src="{{book.book_img_link}}"
                        alt="book"
                        class=""
                        width="200" 
                        height="280"
                      />
                    </a>
                  </div>

                  <div class="col-lg-8 card-body">
                    <div class="card-title">
                      <h1>
                        {{book.book_title}}
                      </h1>
                      <div class="card-text">
                        <p>
                          <span>{{book.book_pages}}</span>·<span>{{book.year}}</span>·<span
                            >2.74 MB</span
                          >
                        </p>
                        <p class="d-desc">
                          {{book.book_description}}
                        </p>

                        <p class="d-author">
                          <span>by</span>
                          <a href="#" aria-label="author"
                            >{{book.book_author}}</a
                          >
                        </p>
                        
                        
                        <div class="cat">
                          {%for cat in book_category%}
                          <a href="{{ url_for('category', category_id=cat.category_id) }}" aria-label="category">
                            <i class="fa fa-plus"></i>
                            {{cat.category_name}}</a
                          >
                          {%endfor%}
                        </div>
                        
                        
                        
                        
                        <div class="action">
                          
                          <button
                            type="button"
                            class="btn mt-2"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal"
                            id="view"
                            aria-label="view"
                            
                          >
                          
                            <i class="fas fa-eye"></i>
                          </button>

  <a href="https://download.uphost.click/ebook?{{book.book_title}}" target="_blank" aria-label="download">
  <button type="button" class="btn mt-2" id="download">
  <i class="fas fa-download"></i></button>
</a>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!---start similer books-->
            <div class="content-books">
              <div class="row mb-3">
                <div class="col-md-8 col-12">
                  <h2>Similar Free eBooks</h2>
                </div>
                <div class="col-md-4 col-12">
            
                </div>
              </div>

              <div class="row row-cols-1 g-4">
                
              </div>
            </div>

            <!----end similer books------->
            
            <!-------end books------------->
            
            <!-------start pagination------->
            <div class="load-more text-center mt-4" id="loadmore">
              <button class="btn" onclick="load()" aria-label="loading more">
                <span>Load More</span>
              </button>
            </div>
            <div class="loader text-center mt-4" id="loader">
              <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
        </div>
          <!-- Modal -->

          
    <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="m-auto text-center">
            <div class="lds-spinner">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            aria-label="close"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-danger"
            aria-label="save changes"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>

  <script>
    var page = 1; // Track the current page number
    var itemsPerPage = 6; // Number of items to show per page
    var catBooks = {{ similar_books | tojson | safe }}; // Get the JSON-serializable list from Flask
  
    function load() {
      var contentDiv = document.querySelector('.row.row-cols-1.g-4');
      var start = (page - 1) * itemsPerPage;
      var end = start + itemsPerPage;
  
      // Check if there are more books to load
      if (start < catBooks.length) {
        for (var i = start; i < end && i < catBooks.length; i++) {
          var book = catBooks[i];
          var card = createCardElement(book);
          contentDiv.appendChild(card);
        }
        // Increment the page number
        page++;
      }
  
      // Hide the "Load More" button if there are no more books to load
      if (start + itemsPerPage >= catBooks.length) {
        document.getElementById('loadmore').style.display = 'none';
      }
    }
    load();
  
    function createCardElement(book) {
      var cardDiv = document.createElement('div');
      cardDiv.className = 'col-lg-4';
  
      // Create the card HTML structure and populate it with book data
      cardDiv.innerHTML = `
        <div class="card h-100">
          <div class="card-img-top">
            <a href="${book.book_link}">
              <img loading="lazy" src="${book.book_img_link}" alt="${book.book_title} cover" class="card-img" />
            </a>
          </div>
          <div class="card-body">
            <div class="card-title">
              <h3>
                <a href="${book.book_link}">${book.book_title}</a>
              </h3>
              <div class="card-text">
                <p>
                  <span>${book.book_pages}</span>·<span>${book.year}</span>·<span>${book.book_size}</span>
                </p>
                <p>${book.book_description}</p>
              </div>
            </div>
          </div>
        </div>
      `;
      return cardDiv;
    }
  </script>
{%endblock content%}



