{% extends 'layout.html' %}
{% block content %}

<div class="col-md-8 terms mt-5 mb-2">
  <div class="card">
    <div class="card-body">
      <div class="container-fluid">
        <h2>Contact Us</h2>
        <p>
        We welcome your inquiries and feedback at FreeFiles.cc. Please feel free to reach out to us via form below, and we'll do our best to assist you. Whether you have questions, suggestions, or encounter any issues, your communication is important to us.
        </p>
      </div>
<script type="text/javascript" src="https://form.jotform.com/jsform/233104704674553"></script>
      <div class="container-fluid mt-5">
        <p class="content">
        We strive to respond to all messages in a timely manner. Thank you for choosing FreeFiles.cc, and we appreciate your engagement with our platform.
        </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-------end books------------->
</div>
</div>
</section>
{%endblock content%}


