{% extends 'layout.html' %}
{%block meta%}

   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <title>DMCA Policy - FreeFiles.cc</title>

  <meta property="site_name" content="FreeFiles">
  <meta name="description" content="Explore our library of free PDF ebooks responsibly. Learn about our DMCA policy at FreeFiles.cc to ensure copyright compliance. We respect intellectual property rights and promptly address any concerns." />
  <meta name="keywords" content="dmca freefiles, free pdf, download pdf, download ebook, free ebook pdf,freefiles pdf, freefiles, freefiles ebook, ebook summary, ebook free pdf, ebook download," />
  <meta name="author" content="Freefiles" />
  <meta name="robots" content="index, follow">

  <!-- Open Graph -->
  <meta property="og:title" content="DMCA Policy - FreeFiles.cc" />
  <meta property="og:description" content="Explore our library of free PDF ebooks responsibly. Learn about our DMCA policy at FreeFiles.cc to ensure copyright compliance. We respect intellectual property rights and promptly address any concerns." />
  <meta property="og:site_name" content="FreeFiles" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://freefiles.cc/dmca" />
  <meta property="og:image" content="https://freefiles.cc{{url_for('static', filename='images/og.jpg')}}" />

  <!-- Canonical start -->
  <link rel="canonical" href="https://freefiles.cc/dmca">
  <!-- Canonical end -->

  <!-- Twitter card start-->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="DMCA Policy - FreeFiles.cc">
  <meta name="twitter:description" content="Explore our library of free PDF ebooks responsibly. Learn about our DMCA policy at FreeFiles.cc to ensure copyright compliance. We respect intellectual property rights and promptly address any concerns.">
  <meta name="twitter:image" content="https://freefiles.cc{{url_for('static', filename='images/og.jpg')}}">
  <meta name="twitter:image:alt" content="DMCA Policy FreeFiles.cc">
  <meta name="twitter:site" content="@freefilescc">
  <meta name="twitter:url" content="https://freefiles.cc/dmca">
  <!-- Twitter card end-->

  <!-- Schema Markup Start -->    
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "DMCA Policy - FreeFiles.cc",
  "url": "https://freefiles.cc/dmca",
  "logo": "https://freefiles.cc{{url_for('static', filename='images/og.jpg')}}"
}
</script>
  <!-- Schema Markup End --> 

{%endblock meta%}

{% block content %}

<div class="col-md-8 terms mt-5 mb-2">
  <div class="card">
    <div class="card-body">
      <div class="container-fluid">
        <h2>DMCA Policy</h2>
        <p>
        <strong>FreeFiles.cc</strong> respects the intellectual property rights of others and expects its users to do the same. In accordance with the Digital Millennium Copyright Act (DMCA), we have established the following policy for handling copyright infringement claims.</p>
      </div>

      <div class="container-fluid mt-5">
        <h4 class="title">Reporting Copyright Infringements:</h4>
        <p class="content">
        If you believe that your copyrighted work has been used on FreeFiles.cc in a way that constitutes copyright infringement, please provide us with a written notice containing the following information:
        <br>
        • A physical or electronic signature of the copyright owner or a person authorized to act on their behalf.
        <br>
        • Identification of the copyrighted work claimed to have been infringed.
        <br>
        • Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material.
        <br>
        • Your contact information, including your address, telephone number, and an email address.
        <br>
        • A statement by you that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law.
        <br>
        • A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the copyright owner.
         </p>

        <h4 class="title">Counter-Notification:</h4>
        <p class="content">
        If you believe that material you posted on FreeFiles.cc was removed or access to it was disabled by mistake or misidentification, you may file a counter-notification. To be effective, the counter-notification must be a written communication that includes the following:
        <br>          
        • Your physical or electronic signature.
        <br> 
        • Identification of the material that has been removed or to which access has been disabled, and the location at which the material appeared before it was removed or access was disabled.
        <br> 
        • A statement under penalty of perjury that you have a good faith belief that the material was removed or disabled as a result of mistake or misidentification.
        <br> 
        • Your name, address, and telephone number, and a statement that you consent to the jurisdiction of the federal district court for the judicial district in which the address is located or, if your address is outside of the United States, for any judicial district in which FreeFiles.cc may be found, and that you will accept service of process from the person who provided the original notification of infringement.
        </p>

        <h4 class="title">Submitting a Notification or Counter-Notification:</h4>
        <p class="content">
        Please send your DMCA notices or counter-notices to our designated agent at the following email:
        <br>
        
        [dmca@freefiles.cc]
        </p>

        <h4 class="title">Repeat Infringers:</h4>
        <p class="content">
        FreeFiles.cc will terminate, in appropriate circumstances, the accounts of users who are repeat infringers.
        </p>

        <h4 class="title">Changes to the DMCA Policy:</h4>
        <p class="content">
        FreeFiles.cc reserves the right to update or modify this DMCA Policy at any time without prior notice.
        <br>
        Users are encouraged to review this page periodically to stay informed about how we handle copyright infringement claims.
        </p>

        <p class="content">
        By submitting a DMCA notice or counter-notice, you acknowledge and agree to the terms outlined in this DMCA Policy.
        </p>

      </div>
    </div>
  </div>
</div>
<!-------end books------------->
</div>
</div>
</section>
{%endblock content%}