{% extends 'layout.html' %}

{% block content %}

<div class="col-md-8 terms mt-5 mb-2">
  <div class="card">
    <div class="card-body">
      <div class="container-fluid">
        <h2>404</h2>
        <p>
        Sorry this page is not available. Please check the URL for mistakes and try again.
        </p>
      </div>

      <div class="container-fluid mt-5">
        <p class="content">
        <strong>What can you do?</strong><br>
        <br>
        <strong>Go back to <a href="{{url_for('home')}}">Home page</a> </strong><br>
        </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-------end books------------->
</div>
</div>
</section>
{%endblock content%}