{% extends 'layout.html' %}
{% block content %}

<div class="col-md-8 terms mt-5 mb-2">
  <div class="card">
    <div class="card-body">
      <div class="container-fluid">
        <h2>Feedback</h2>
        <p>
        Thank you for choosing FreeFiles.cc. Your input is crucial to us as we continually strive to improve our services. Please take a moment to share your thoughts and experiences with our website. Your feedback allows us to enhance your user experience and make FreeFiles.cc even better.
        </p>
      </div>

<script type="text/javascript" src="https://form.jotform.com/jsform/233104411942546"></script>

      <div class="container-fluid mt-5">
        <p class="content">
        Your feedback is invaluable to us. Thank you for taking the time to share your thoughts. We appreciate your support and look forward to serving you even better in the future.
        </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-------end books------------->
</div>
</div>
</section>
{%endblock content%}


