{% extends 'layout.html' %}
{%block meta%}

   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <title>Feedback - FreeFiles.cc</title>

  <meta property="site_name" content="FreeFiles">
  <meta name="description" content="We value your input! Share your thoughts, suggestions, and feedback with us. Your opinions matter, and we're committed to enhancing your experience at FreeFiles.cc." />
  <meta name="keywords" content="feedback freefiles, free pdf, download pdf, download ebook, free ebook pdf,freefiles pdf, freefiles, freefiles ebook, ebook summary, ebook free pdf, ebook download," />
  <meta name="author" content="Freefiles" />
  <meta name="robots" content="index, follow">

  <!-- Open Graph -->
  <meta property="og:title" content="Feedback - FreeFiles.cc" />
  <meta property="og:description" content="We value your input! Share your thoughts, suggestions, and feedback with us. Your opinions matter, and we're committed to enhancing your experience at FreeFiles.cc." />
  <meta property="og:site_name" content="FreeFiles" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://freefiles.cc/feedback" />
  <meta property="og:image" content="https://freefiles.cc{{url_for('static', filename='images/og.jpg')}}" />

  <!-- Canonical start -->
  <link rel="canonical" href="https://freefiles.cc/feedback">
  <!-- Canonical end -->

  <!-- Twitter card start-->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="feedback - FreeFiles.cc">
  <meta name="twitter:description" content="We value your input! Share your thoughts, suggestions, and feedback with us. Your opinions matter, and we're committed to enhancing your experience at FreeFiles.cc.">
  <meta name="twitter:image" content="https://freefiles.cc{{url_for('static', filename='images/og.jpg')}}">
  <meta name="twitter:image:alt" content="Feedback FreeFiles.cc">
  <meta name="twitter:site" content="@freefilescc">
  <meta name="twitter:url" content="https://freefiles.cc/feedback">
  <!-- Twitter card end-->

  <!-- Schema Markup Start -->    
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Feedback - FreeFiles.cc",
  "url": "https://freefiles.cc/feedback",
  "logo": "https://freefiles.cc{{url_for('static', filename='images/og.jpg')}}"
}
</script>
  <!-- Schema Markup End --> 

{%endblock meta%}

{% block content %}

<div class="col-md-8 terms mt-5 mb-2">
  <div class="card">
    <div class="card-body">
      <div class="container-fluid">
        <h2>Feedback</h2>
        <p>
        Thank you for choosing FreeFiles.cc. Your input is crucial to us as we continually strive to improve our services. Please take a moment to share your thoughts and experiences with our website. Your feedback allows us to enhance your user experience and make FreeFiles.cc even better.
        </p>
      </div>

<script type="text/javascript" src="https://form.jotform.com/jsform/233104411942546"></script>

      <div class="container-fluid mt-5">
        <p class="content">
        Your feedback is invaluable to us. Thank you for taking the time to share your thoughts. We appreciate your support and look forward to serving you even better in the future.
        </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-------end books------------->
</div>
</div>
</section>
{%endblock content%}


