{% extends 'layout.html' %}
  {%block meta%}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="keywords" content="pdf download, pdf free download, free ebook download, free files, read pdf online free, read ebook online free, download ebook pdf, ebook,download ebooks for free,download books for free,download ebooks,download pdf,pdf download,free ebook download,how to download books for free,free pdf ebook download,websites to download free ebooks,free ebooks download pdf,free books download pdf,free books pdf download,how to download paid books,how to create an ebook,websites to download books pdf,download ebook,pdf book download,ebook download" />
    <meta name="description" content="Free eBooks in PDF format ready to download using FreeFiles.cc, Enjoy over 90+ million free ebooks without signup or subscription." />
    <meta name="author" content="FreeFiles" />
    {%if title%}
    <title>FreeFiles.cc - Search and Download eBooks in PDF Format for Free</title>
   {%endif%}
  <meta property="site_name" content="FreeFiles">
  <meta name="robots" content="index, follow">

  <!-- Open Graph -->
  <meta property="og:title" content="FreeFiles.cc - Search and Download eBooks in PDF Format for Free" />
  <meta property="og:description" content="Free eBooks in PDF format ready to download using FreeFiles.cc, Enjoy over 90+ million free ebooks without signup or subscription." />
  <meta property="og:site_name" content="FreeFiles" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://freefiles.cc" />
  <meta property="og:image" content="https://freefiles.cc{{url_for('static', filename='images/og.jpg')}}" />

  <!-- Canonical start -->
  <link rel="canonical" href="https://freefiles.cc">
  <!-- Canonical end -->

  <!-- Twitter card start-->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="FreeFiles.cc - Search and Download eBooks in PDF Format for Free">
  <meta name="twitter:description" content="Free eBooks in PDF format ready to download using FreeFiles.cc, Enjoy over 90+ million free ebooks without signup or subscription.">
  <meta name="twitter:image" content="https://freefiles.cc{{url_for('static', filename='images/og.jpg')}}">
  <meta name="twitter:image:alt" content="FreeFiles.cc - Search and Download eBooks in PDF Format for Free">
  <meta name="twitter:site" content="@freefilescc">
  <meta name="twitter:url" content="https://freefiles.cc">
  <!-- Twitter card end-->

  <!-- Schema Markup Start -->    
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "FreeFiles.cc - Search and Download eBooks in PDF Format for Free",
  "url": "https://freefiles.cc",
  "logo": "https://freefiles.cc{{url_for('static', filename='images/og.jpg')}}"
}
</script>
  <!-- Schema Markup End --> 
  {%endblock meta%}

{% block content %}

<div class="col-md-8 books mt-5 mb-2">
    <div
    class="alert alert-danger alert-dismissible fade show"
    role="alert">
    <p>
      <strong>Free Files</strong> is your search engine for PDF files.
      As of today we have
      <strong>84,952,6<span class="num-page">43</span></strong> eBooks
      for you to <strong>download for free</strong>. No annoying ads,
      <strong>no download limits</strong>, enjoy it and don't forget
      to bookmark and share the love!
    </p>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
    <div class="content-books">
        {% for category in result %}
        <h2 class="d-title mt-0">
            <a href="{{ category['category_link'] }}">
                <i class="{{ category['category_icon'] }}"></i>
                {{ category['category_text'] }}
            </a>
        </h2>
        <div class="row books-group">
            {% for book in category['books'] %}
            <div class="col-12">
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-lg-4 card-img-left">
                            <a href="{{ book['book_link'] }}">
                                <img loading="lazy" src="{{ book['book_img_link'] }}" alt="book" class="img-fluid" />
                            </a>
                        </div>
                        <div class="col-lg-8 card-body">
                            <div class="card-title">
                                <h3>
                                    <a href="{{ book['book_link'] }}">{{ book['book_title'] }}</a>
                                </h3>
                                <div class="card-text">
                                    <p>
                                        <span>{{ book['book_pages'] }}</span>·<span>{{ book['year'] }}</span>·<span>{{ book['book_size'] }}</span>
                                    </p>
                                    <p>{{ book['book_description'] }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        
        </div>
    </div>
</div>

    <div class="load-more text-center mt-4" id="loadmore">
        <button class="btn" onclick="load()" aria-label="loading more">
          <span>Load More</span>
        </button>
      </div>





{% endblock content %}
