{% extends 'layout.html' %}
{% block content %}

<div class="col-md-8 terms mt-5 mb-2">
  <div class="card">
    <div class="card-body">
      <div class="container-fluid">
        <h2>Mobile App</h2>
        <p>
        We're thrilled to announce the upcoming release of our mobile app for both Android and iOS devices.
        </p>
      </div>

      <div class="container-fluid mt-5">
        <p class="content">
        Stay tuned for updates as we prepare for the official launch. We appreciate your anticipation and can't wait to share this exciting development with you.
        <br>
        <strong>Thank you for your continued support.</strong>
        </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-------end books------------->
</div>
</div>
</section>
{%endblock content%}


