{% extends 'layout.html' %}
{%block meta%}

   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <title>Mobile App - FreeFiles.cc</title>

  <meta property="site_name" content="FreeFiles">
  <meta name="description" content="Download our mobile app to access a vast library of free PDF ebooks anytime, anywhere. Explore, read, and enjoy your favorite content seamlessly with our user-friendly mobile app. " />
  <meta name="keywords" content="mobile app freefiles, free pdf, download pdf, download ebook, free ebook pdf,freefiles pdf, freefiles, freefiles ebook, ebook summary, ebook free pdf, ebook download," />
  <meta name="author" content="Freefiles" />
  <meta name="robots" content="index, follow">

  <!-- Open Graph -->
  <meta property="og:title" content="Mobile App - FreeFiles.cc" />
  <meta property="og:description" content="Download our mobile app to access a vast library of free PDF ebooks anytime, anywhere. Explore, read, and enjoy your favorite content seamlessly with our user-friendly mobile app. " />
  <meta property="og:site_name" content="FreeFiles" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://freefiles.cc/mobile-app" />
  <meta property="og:image" content="https://freefiles.cc{{url_for('static', filename='images/og.jpg')}}" />

  <!-- Canonical start -->
  <link rel="canonical" href="https://freefiles.cc/mobile-app">
  <!-- Canonical end -->

  <!-- Twitter card start-->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Mobile App - FreeFiles.cc">
  <meta name="twitter:description" content="Download our mobile app to access a vast library of free PDF ebooks anytime, anywhere. Explore, read, and enjoy your favorite content seamlessly with our user-friendly mobile app.">
  <meta name="twitter:image" content="https://freefiles.cc{{url_for('static', filename='images/og.jpg')}}">
  <meta name="twitter:image:alt" content="Mobile App FreeFiles.cc">
  <meta name="twitter:site" content="@freefilescc">
  <meta name="twitter:url" content="https://freefiles.cc/mobile-app">
  <!-- Twitter card end-->

  <!-- Schema Markup Start -->    
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Mobile App - FreeFiles.cc",
  "url": "https://freefiles.cc/mobile-app",
  "logo": "https://freefiles.cc{{url_for('static', filename='images/og.jpg')}}"
}
</script>
  <!-- Schema Markup End --> 

{%endblock meta%}

{% block content %}

<div class="col-md-8 terms mt-5 mb-2">
  <div class="card">
    <div class="card-body">
      <div class="container-fluid">
        <h2>Mobile App</h2>
        <p>
        We're thrilled to announce the upcoming release of our mobile app for both Android and iOS devices.
        </p>
      </div>

      <div class="container-fluid mt-5">
        <p class="content">
        Stay tuned for updates as we prepare for the official launch. We appreciate your anticipation and can't wait to share this exciting development with you.
        <br>
        <strong>Thank you for your continued support.</strong>
        </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-------end books------------->
</div>
</div>
</section>
{%endblock content%}


