{% extends 'layout.html' %}
{% block content %}

<div class="col-md-8 terms mt-5 mb-2">
  <div class="card">
    <div class="card-body">
      <div class="container-fluid">
        <h2>Privacy Policy</h2>
        <p>
          Thank you for using <strong>FreeFiles.cc</strong> This Privacy Policy outlines how we collect, use, and safeguard information when you use our website.
        </p>
      </div>

      <div class="container-fluid mt-5">
        <h4 class="title">Information Collection:</h4>
        <p class="content">
          We want to make it clear that FreeFiles.cc does not collect any personal information from its users.
          <br>
          We do not employ cookies or any tracking mechanisms to gather information about your browsing habits.
         </p>

        <h4 class="title">User-Generated Content:</h4>
        <p class="content">
        All the files available on FreeFiles.cc, including but not limited to ebooks in PDF format, are added by users.
        <br>          
        We do not take responsibility for the content or authenticity of these files.
        </p>

        <h4 class="title">Copyright Claims:</h4>
        <p class="content">
        If you believe that your copyright has been violated, please review our DMCA Policy.
        <br>
        To submit a copyright infringement complaint, follow the guidelines outlined in our DMCA Policy, accessible on the same page.</p>

        <h4 class="title">No Advertisements or Sign-Up:</h4>
        <p class="content">
          FreeFiles.cc is an ad-free platform, and we do not require users to sign up for an account.
        <br>
        We believe in a streamlined, user-friendly experience without unnecessary interruptions.
        </p>

        <h4 class="title">Responsibility Disclaimer:</h4>
        <p class="content">
        FreeFiles.cc, its administrators, and associates are not responsible for any legal or content-related issues arising from the use of the files provided by users.
        <br>
        Users are encouraged to exercise caution and use their discretion when downloading files.
        </p>

        <h4 class="title">Changes to the Privacy Policy:</h4>
        <p class="content">
        FreeFiles.cc reserves the right to update or modify this Privacy Policy at any time without prior notice.
        <br>
        Users are encouraged to review this page periodically to stay informed about how we are protecting the information we collect.
        </p>

        <h4 class="title">Contact Us:</h4>
        <p class="content">
        If you have any questions or concerns regarding this Privacy Policy, please contact us at [contact@freefiles.cc].
        </p>

        <p class="content">
        By using FreeFiles.cc, you agree to the terms outlined in this Privacy Policy.
        </p>

      </div>
    </div>
  </div>
</div>
<!-------end books------------->
</div>
</div>
</section>
{%endblock content%}


